
.card-link {
    text-decoration: none;
}

.custom-card {
    height: 110px;
    border: none;
    background-color: #e5e5e5;
}

.img-circle {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    opacity: 0.9;
}